@import "materialize";

.stanley_bg { background-color: #f5d133; }
.stanley { color: #f5d133; }
.stanley_btn input { color: #000; background-color: #f5d133; }
a { color: #000; text-decoration: underline; }
.btn:hover { color: #f5d133; background-color: #000; }
.stanley_btn:hover { color: #FFF; }
